<div class="container">
  <div class="col-lg-8">
    <h2>Update your Boyfriend Profile:</h2>

    <%= simple_form_for(@profile) do |f| %>
      <%= f.input :boyfriendname, label: 'Boyfriend Name' %>
      <%= f.input :location %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, wrapper: false %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br>
      <%= f.button :submit, 'Save Changes', class: 'button-book-him' %>
    <% end %>
  </div>
</div>
