<h2>Register as a new boyfriend:</h2>

<%= simple_form_for(@profile) do |f| %>
  <%= f.input :boyfriendname %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }, wrapper: false %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
