
<h2>This is the details of your potential boyfriend:</h2>

<h2><%= @profile.boyfriendname %></h2>
<h2><%= @user.age %></h2>
<h2><%= @user.description %></h2>
<h2><%= @user.gender %></h2>
<h2><%= @user.location %></h2>
<h2><%= @user.interest %></h2>

<% @profile.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
