<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="pictures">
        <% @profile.photos.each do |photo| %>
          <%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill, class: "specific-pic") %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="border-style">
        <h2><%= @profile.boyfriendname %> is waiting for you</h2>
        <h5><%= @profile.age %></h5>
        <h5><%= @profile.location %></h5>
        <p><%= @profile.description %></p>
        <div align="center">
          <%= link_to "Book Him Now!", new_profile_booking_path(@profile), class: "button-book-him button-layout"%>
        </div>
      </div>
      <div class="border-style" style="margin-top: 10px;">
        <h2><%= @profile.boyfriendname %> is waiting for you</h2>
        <h5><%= @profile.age %></h5>
        <h5><%= @profile.location %></h5>
        <p><%= @profile.description %></p>
        <div align="center">
          <%= link_to "See the reviews!", new_profile_booking_path(@profile), class: "button-book-him button-layout"%>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= link_to "Go back", profiles_path, class: "button-show button-layout" %>
    </div>
    <div class="col-lg-4">
      <% if policy(@profile).edit? %>
        <%= link_to "Edit profile", edit_profile_path(@profile), class: "button-edit button-layout" %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <% if policy(@profile).destroy? %>
      <%= link_to "Delete profile", profile_path(@profile), class: "btn btn-light button-layout ",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>

<div class="container">
  <h3>Here are all reviews for this profile</h3>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @profile.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this profile</em></small>
      <% else %>
        <% @profile.reviews.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.rating %></p>
            <p class="mb-0"><%= review.comment %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
