<h1>New Booking</h1>
<%= form_with model: @booking, url: bookings_path do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= form.label :booking_id %>
    <%= form.number_field :booking_id %>
  </div>
  <div class="actions">
    <%= form.submit "Create Booking" %>
  </div>
<% end %>
