<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Booking</title>
</head>
<div class="container">
  <div class="card p-3">
    <p><%= "Your partner is #{@profile.boyfriendname}. Age: #{@profile.age} Gender: #{@profile.gender}" %></p>
    <p><%= @profile.description %></p>
    <p><%= @profile.interest %></p>
    <br>
    <p><%= "Date: 30/02/2030 to 32/03/2031" %></p>
    <p><%= "Location: Mars, Solar System" %></p>
  </div>
</div>
