<!DOCTYPE html>
<html>
  <head>
    <title>BORROWABeau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assests/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="header border-bottom bg-white">
      <h2 class="logo">Borrow A Beau</h2>
        <nav>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      <a class="cta" href="/users/sign_in"><button>Login</button></a>
    </div>
    <%= yield %>
    <footer>
      <div class="footer-content">
        <h3>Borrow A Beau</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic totam optio, fugiat doloribus cumque perferendis dolorem tempora architecto voluptates laudantium provident autem ea esse explicabo itaque, nam deserunt. Temporibus?</p>
        <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </div>
    </footer>
  </body>
</html>
