<!DOCTYPE html>
<html>
  <head>
    <title>BORROWABeau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <footer>
      <div class="footer-content">
        <p>Borrow A Beau is a game-changing web app that lets you rent a boyfriend for social events or family introductions, offering instant companionship without the demand of long-term commitment.</p>
        <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </div>
    </footer>
  </body>
</html>
